img {
  width: 100%
}

.black-background {
  background: #E0E1E0;
  color: #212121;
}

.padding-top {
  padding-top: 3vh
}

.width-100 {
  width: 100%
}

@media only screen and (max-width: 360px) {


}
@media only screen and (min-width: 360px) and (max-width: 768px) {



}
@media only screen and (min-width: 768px) {



}
